*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     color: #333;
    line-height: 1.6;
    background-color:rgb(42, 17, 185);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1e13be;
    color: #fff;
    padding: 15px 0;
}

header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.my-name {
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e6c492;
}


.hero {
    padding: 100px 20px;
    text-align: center;
    background:blue;;
    color: #fff;  
}

.hero-summary h2{
    font-size: 2.5rem;
}
.view-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #fff;
    color: blue;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.view-btn:hover {
    background-color:brown;
    color: #fff;
}

section {
    padding: 60px 20px;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1120px;

}
.container h2{
    color: #fff;
}

.container p {
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    color:white;
}

.container h2{
    text-align: center;
    padding: 20px;
}
.my-skills {
    display: flex ;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.my-skills li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    background-color: white;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 10px;
    color: #222;
}

.card p {
    padding: 0 15px;
    color: #222;
}

.card .btn {
    display: inline-block;
    margin: 10px 5px 20px;
    padding: 8px 20px;
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-card .btn:hover {
    background-color: #f44336;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .hero h2 {
        font-size: 2rem;
    }
}
.image{
    width: 260px;
    height: 260px;
    border-radius: 180px;
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.title{
    font-weight: 600;
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}
.title hr{
    border: none;
    width: 220px;
    height: 1px;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid brown;
}
.contact-inputs::placeholder{
    color:black ;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color:black;
    gap:10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.Reach-me{
    color: white;
}
.Reach-me a{
    color: antiquewhite;
}
footer {
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    background-color:blue;
}
